@import './breakpoints.scss';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 18px;

  margin: 0;
}

#app {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.margin {
  margin: 0 15px;

  @include custom-breakpoint-up(375px) {
    margin: 0 35px;
  }

  @include custom-breakpoint-up(425px) {
    margin: 0 40px;
  }

  @include phone-up() {
    margin: 0 60px;
  }

  @include tablet-up() {
    max-width: 600px;
    margin: 0 auto;
  }
}
