@import './breakpoints.scss';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  margin: 0;
}

#app {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.margin {
  margin: 0 15px;

  @include custom-breakpoint-up(375px) {
    margin: 0 35px;
  }

  @include custom-breakpoint-up(425px) {
    margin: 0 24px;
  }
}
