@import '../../styles/styles.scss';

.home-page {
  p {
    font-weight: 500;
    margin-top: 20px;
  }

  a {
    @extend .link;
  }

  @include tablet-up() {
    h1 {
      margin-top: 80px;
    }
  }

  @include desktop-up() {
    h1 {
      margin-top: 120px;
    }
  }

  @include very-large-desktop-up() {
    h1 {
      margin-top: 160px;
    }
  }
}
