.project-list {
  margin: 0;
}

.project-list__item {
  list-style: none;
  margin: 0 0 50px;
}

.project-card {}

.project-card__title {
  margin: 0 0 10px;
}

.project-card__desc {
  color: #aaa;
  margin: 0;
}
  