.projects-container {
}

.project-list {
  $r: &;

  // max-width: 600px;
  margin: 0 auto;
  padding: 60px 30px 0;

  &__item {
    list-style: none;
    margin: 0 0 50px;
  }

  &__item-link {
    text-decoration: none;
  }

  // collapsed list
  &.collapsed {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;

    #{$r}__item {
      list-style: none;
      margin: 0 10px;

      &-link {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;

        &.active {
          background-color: purple;
        }
      }

      .project-card {
        display: none;
      }
    }
  }
}

.project-card {
  $r: &;

  &__title {
    color: black;
    margin: 0 0 10px;
  }

  &__desc {
    color: #aaa;
    margin: 0;
  }

  &:hover {
    #{$r}__title {
      text-decoration: underline;
    }
  }
}

.project-posts {
  display: none;
  margin: 0 40px;

  &.active {
    display: block;
  }
}

.project-post {
  opacity: 0;
  height: 0;
  transition: opacity 0.4s;
  overflow: hidden;

  &.active {
    opacity: 1;
    height: auto;
  }
}
