.navigation {
  position: fixed;
  bottom: 0;
  
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  transform: translateY(calc(100% - 40px));

  transition: transform 0.5 ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}

.navigation__placeholder {
  position: relative;
  opacity: 0.5;
  background: #555;
  height: 50%;

  z-index: 1;
}

.navigation__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;

  background-color: #eee;

  transform: translateY(-100%);

  z-index: 2;
  box-sizing: border-box;
  transition: transform 0.5 ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}

.navigation.opened {
  transform: translateY(0);
}

.navigation.opened .navigation__content {
  transform: translateY(0);
}

.navigation__content .toggle-menu-button {
  height: 40px;
}

.navigation__menu {
  text-align: center;
  padding: 20px 0 0;
}

.navigation__link {
  font-weight: 900;
  font-size: 20px;
  color: #000;
  margin: 0 10px;

  text-decoration: none;
}